@inherits LayoutComponentBase

<div class="page">
    
    <main>
       <!--<div class="top-row px-4">
           <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
         -->
        <header>
            <div class="headerall">
                <div class="headerleft">
                    <img src=img/logo.png width="35" height="35"> 
                    BMW M3 E46 CSL Ikona Inżynierii i Stylu
                </div>
                <div class="headerright"> Mikołaj Iwanicki, nr albumu 124918 </div>
            </div>
        </header>
        
        <article class="content px-4">
            @Body
        </article>
    
        <footer>
            Strona została przygotowana jako projekt zaliczeniowy w ramach zajęć z przedmiotu
            Wybrane Środowiska Programowania na kierunku Informatyka w Społecznej Akademii Nauk w Łodzi.
            Użyte zostały języki HTML oraz CSS.
        </footer>
    </main>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
